<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Echo Park Closure Clock Clock</title>
        
        <meta name="description" content="Echo Park has been closed since March 25th, 2021">
        <meta name="author" content="Hunter Owens">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:site_name" content="Echo Park Closure Clock">
        <meta property="og:title" content="Echo Park Closure Clock">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Echo Park has been closed since March 25th, 2021">
        <meta property="og:url" content="http://isechoparkclosedrightnow.com/">
        <meta property="og:image" content="http://isechoparkclosedrightnow.com/images/thumbnail2.png">


        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@chihacknight">
        <meta name="twitter:creator" content="@chihacknight">
        <meta name="twitter:description" content="Echo Park has been closed to the public since March 25th 2021.">
        <meta name="twitter:title" content="Echo Park Closure Clock">
        <meta name="twitter:url" content="http://isechoparkclosedrightnow.com/">
        <meta name="twitter:image:src" content="http://isechoparkclosedrightnow.com/images/thumbnail2.png">

        
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="icon" type="image/png" href="favicon.png">

        <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>


    </head>
    <body>
        
        {{content}}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/moment.js"></script>
        <script src="/js/jquery.address.js"></script>
        <script src="/js/reasons.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/analytics_lib.js"></script>
    </body>
</html>
